body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.edit-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 8px;
}

input,
textarea,
#category,
.image-upload {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#imagePreview {
    height: 100%;
    max-width: 100%;
}

.img {
    display: none;
    border: 1px solid #ddd;
    cursor: pointer;
    vertical-align: top;
}

textarea {
    height: 200px;
    resize: none;
}

.save-button,
.return-button {
    background-color: #27ae60;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.return-button {
    text-align: center;
    margin-top: 10px;
    background-color: rgb(255, 0, 0);
}

footer {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}