body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.search-container {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
}

#searchInput {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #27ae60;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.blog-post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

img {
    height: 200px;
    max-width: 100%;
}

.totalBlogsP{
	margin-top: 20px;
	font-size: 18px;
	text-align: center;
}

.totalBlogs{
	font-weight: bold;
}

.pagination{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.pagination li {
	margin: 0 5px;
}

.pagination a{
	text-decoration: none;
	display: inline-block;
	padding: 8px 12px;
	border: 1px solid #ddd;
	color: #333;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
}

.pagination a:hover{
	background-color: #ddd;
}

.pagination .active a{
	background-color: #4CAF50;
	color: white;
}


footer {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}