body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.mypage-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.post {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.post-content {
    flex: 1;
}

.post-buttons {
    display: flex;
    align-items: center;
}

.edit-button,
.delete-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-post-button {
    background-color: #27ae60;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
}

.pagination {
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-selector {
    margin-right: 10px;
}

.total-blogs {
    font-size: 14px;
    color: #777;
}

select,
button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: #fff;
    margin: 0 3px;
}

select {
    margin-right: 5px;
}

footer {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}