<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/blog_edit.css}">
</head>

<body>
    <header>
        <h1>Edit Blog</h1>
    </header>

    <div class="edit-container" th:each="blog:${blogList}">
        <form class="edit-form" th:action="@{/blog/edit/process}" method="post" enctype="multipart/form-data">
            <label for="blogTitle">Blog Title:</label>
            <input type="text" id="blogTitle" placeholder="Enter your blog title"　name="blogTitle" required th:value="${blog.blogTitle}">

            <div>
                <label for="category">Category:</label>
                <select name="categoryId" id="category">
                    <option value=""   th:selected = "${blog.categoryId == null}">選択</option>
                    <option value="1" 　th:selected = "${blog.categoryId == 1}">ゲーム</option>
                    <option value="2" 　th:selected = "${blog.categoryId == 2}">映画</option>
                    <option value="3" 　th:selected = "${blog.categoryId == 3}">グルメ</option>
                    <option value="4" 　th:selected = "${blog.categoryId == 4}">その他</option>
                </select>
            </div>

            <div class="image-preview">
                <label for="img" class="place" id="placeLabel">+</label>
                <img style="display: block;" th:src="@{/blog_img/{fileName}(fileName=${blogList.blogImage})}" alt="Edited Blog Image" id="imagePreview" class="img" name="blogImage">
            </div>
            <input style="display: none;" type="file" class="image-upload" name="newBlogImage">


            <label for="blogDetail">Blog Content:</label>
            <textarea name="blogDetail" id="blogDetail" placeholder="Enter your blog content" required th:text="${blog.blogDetail}"></textarea>

            <button class="save-button" type="submit">Save Changes</button>
            <a th:href="@{/blog/myPage}" class="return-button">Back</a>
        </form>
    </div>
    <footer>
        &copy; 2023 My Blog. By HanTakuhyo.
    </footer>
    <script th:src="@{/js/blog_edit.js}"></script>
</body>

</html>