<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/blog_MyPage.css">
</head>

<body>
    <header>
        <h1>My Page</h1>
    </header>

    <div class="mypage-container">
        <ul>
            <li>
                <div class="post">
                    <div class="post-content">
                        <h2>blog Title</h2>
                        <p>
                            blog detail
                        </p>
                    </div>
                    <div class="post-buttons">
                        <button class="edit-button">Edit</button>
                        <form action="" method="post">
                            <input type="hidden" name="blogId">
                            <button class="delete-button">Delete</button>
                        </form>
                    </div>
                </div>

            </li>
        </ul>


        <!-- Add more posts as needed -->

        <button class="create-post-button">Create New Blog</button>

        <div class="pagination">
            <div class="page-selector">
                Show:
                <select>
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                </select>
                blogs per page
            </div>
            <div class="total-blogs">
                Total Blogs: 30
            </div>
            <div>
                <button>Previous</button>
                <button>1</button>
                <button>2</button>
                <!-- Add more page buttons as needed -->
                <button>Next</button>
            </div>
        </div>
    </div>
    </div>
    <footer>
        &copy; 2023 My Blog. By HanTakuhyo.
    </footer>
</body>

</html>