<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Content</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/blog_content.css}">
</head>

<body>
    <header>
        <div>
            <a th:href="@{/blog/list}">Back</a>
            <a th:href="@{/blog/myPage}">MyPage</a>
        </div>
    </header>
    <div class="blog-container">
        <img class="blog-image" th:src="@{/blog_img/{imageName}(imageName=${blog.blogImage})}" alt="Blog Image">
        <div class="blog-details">
            <div class="category" th:switch="${blog.categoryId}">
                <p th:case="1">ゲーム</p>
                <p th:case="2">映画</p>
                <p th:case="3">グルメ</p>
                <p th:case="4">その他</p>
            </div>
            <p th:text="'authorName:' + ${authorName}"></p>
            <div class="register-date" th:text="${#temporals.format(blog.registerDate,'yyyy/MM/dd')}"></div>
            <h1 th:text="${blog.blogTitle}"></h1>
            <p class="blog-content" th:text="${blog.blogDetail}"></p>
        </div>
    </div>
    <div class="comment-section">
        <h2>Comments</h2>
        <ul>
            <li>
                <div class="comment">
                    <div class="comment-author">username</div>
                    <div class="comment-text">
                        comment
                    </div>
                </div>
            </li>
        </ul>


        <div class="comment-form">
            <form action="" method="post">
                <label for="comment">Add your comment:</label>
                <textarea id="comment" rows="4" placeholder="Type your comment here..." required></textarea>
                <button type="submit">Submit Comment</button>
            </form>
        </div>
    </div>
    <footer>
        &copy; 2023 My Blog. By HanTakuhyo.
    </footer>
</body>

</html>