<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/blog_list.css}">
</head>

<body>
    <header>
        <h1>My Blog</h1>
    </header>

    <nav>
        <a th:href="@{/blog/list}">Home</a>
        <a th:href="@{/blog/myPage}">MyPage</a>
        <a th:href="@{/logout}">LogOut</a>
        <form th:action="@{/blog/search}" method="get">
	        <div class="search-container">
	            <input type="text" id="searchInput" name="keyword" th:value="${keyword}" placeholder="Search...">
	            <button>Search</button>
	        </div>
        </form>
    </nav>
    <div class="blog_list" th:if="${not #lists.isEmpty(searchResults)}">
        <ul>
            <li th:each="blog : ${searchResults}">
                <div class="blog-post">
                    <a th:href="@{/blog/content/{blogId}(blogId=${blog.blogId})}">
                        <h2 th:text="${blog.blogTitle}"></h2>
                        <div class="category" th:switch="${blog.categoryId}">
                            <p th:case="1">ゲーム</p>
                            <p th:case="2">映画</p>
                            <p th:case="3">グルメ</p>
                            <p th:case="4">その他</p>
                        </div>
                        <p th:text="${#temporals.format(blog.registerDate,'yyyy/MM/dd')}"></p>
                        <p></p>
                        <img th:src="@{/blog_img/{imageName}(imageName=${blog.blogImage})}" alt="">
                    </a>
                </div>
            </li>
        </ul>
    </div>
    
    <div th:if="${#lists.isEmpty(searchResults)}">
        <p>No blogs found for [[${keyword}]]</p>
    </div>
    
    <p class="totalBlogsP">Total Blogs: <span class="totalBlogs" th:text="${searchCount}"></span></p>
	<div class="pagination">
	    <ul>
	        <li th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber == blogList.number + 1} ? 'active' : ''">
	            <a th:href="@{/blog/list(page=${pageNumber}, pageSize=${pageSize})}" th:text="${pageNumber}"></a>
	        </li>
	    </ul>
	</div>

    <footer>
        &copy; 2023 My Blog. By HanTakuhyo.
    </footer>
</body>

</html>