<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/blog_list.css">
</head>

<body>
    <header>
        <h1>My Blog</h1>
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#">MyPage</a>
        <a href="#">LogOut</a>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Search...">
            <button>Search</button>
        </div>
    </nav>
    <div class="blog_list">
        <ul>
            <li>
                <div class="blog-post">
                    <a href="">
                        <h2>Blog Post Title</h2>
                        <div class="category">
                            <p case="1">ゲーム</p>
                            <p case="2">映画</p>
                            <p case="3">グルメ</p>
                            <p case="4">その他</p>
                        </div>
                        <p>Author: John Doe | Date: January 1, 2023</p>
                        <p>This is the content of the blog post. You can write your thoughts, ideas, and share
                            information
                            here.</p>
                        <img src="/1_1.1.1.jpg" alt="">
                    </a>
                </div>
            </li>
            <li>
                <div class="blog-post">
                    <a href="">
                        <h2>Blog Post Title</h2>
                        <div class="category">
                            <p case="1">ゲーム</p>
                            <p case="2">映画</p>
                            <p case="3">グルメ</p>
                            <p case="4">その他</p>
                        </div>
                        <p>Author: John Doe | Date: January 1, 2023</p>
                        <p>This is the content of the blog post. You can write your thoughts, ideas, and share
                            information
                            here.</p>
                        <img src="/屏幕截图 2023-10-19 175541.png" alt="">
                    </a>
                </div>
            </li>
        </ul>
    </div>


    <footer>
        &copy; 2023 My Blog. By HanTakuhyo.
    </footer>
</body>

</html>