<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/blog_edit.css}">
</head>

<body>
    <header>
        <h1>Create Blog</h1>
    </header>

    <div class="edit-container">
        <form class="edit-form" th:action="@{/blog/create/process}" method="post" enctype="multipart/form-data">
            <label for="blogTitle">Blog Title:</label>
            <input type="text" id="blogTitle" name="blogTitle" placeholder="Enter your blog title" required>

            <div>
                <label for="category">Category:</label>
                <select name="categoryId" id="category">
                    <option value="" selected>選択</option>
                    <option value="1">ゲーム</option>
                    <option value="2">映画</option>
                    <option value="3">グルメ</option>
                    <option value="4">その他</option>
                </select>
            </div>

            <div class="image-preview">
                <label for="img" class="place" id="placeLabel">+</label>
                <img src="" alt="" id="imagePreview" class="img">
            </div>
            <input type="file" class="image-upload" name="blogImage">


            <label for="blogDetail">Blog Content:</label>
            <textarea name="blogDetail" id="blogDetail" placeholder="Enter your blog content" required></textarea>

            <button class="save-button" type="submit">Create Blog</button>
            <a th:href="@{/blog/myPage}" class="return-button">Back</a>
        </form>  
    </div>
    <footer>
        &copy; 2023 My Blog. By HanTakuhyo.
    </footer>
    <script th:src="@{/js/blog_edit.js}"></script>
</body>

</html>