<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/blog_MyPage.css}">
</head>

<body>
    <header>
        <h1>My Page</h1>
    </header>

    <div class="mypage-container">
        <ul>
            <li th:each="blog : ${blogList}">
                <div class="post">
                    <div class="post-content">
                        <h2 th:text="${blog.blogTitle}"></h2>
                        <p th:text="${blog.blogDetail}"></p>
                    </div>
                    <div class="post-buttons">
						<a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
							<button class="edit-button">Edit</button>
						</a>
                        <form th:action="@{/blog/delete}" method="post">
                            <input type="hidden" name="blogId"  th:value="${blog.blogId}">
                            <button class="delete-button">Delete</button>
                        </form>
                    </div>
                </div>

            </li>
        </ul>


		<a th:href="@{/blog/create}">		
        	<button class="create-post-button">Create New Blog</button>
		</a>
        <div class="pagination">
            <div class="page-selector">
                Show:
                <select id="pageSizeSelector">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                blogs per page
            </div>
            <div class="total-blogs"  th:text="'Total Blogs: ' + ${blogCount}"></div>
            <div>
                <button>Previous</button>
                <button>1</button>
                <button>Next</button>
            </div>
        </div>
    </div>
	<div class="pagination">
	    <ul>
	        <li th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber == blogList.number + 1} ? 'active' : ''">
	            <a th:href="@{/blog/list(page=${pageNumber}, pageSize=${pageSize})}" th:text="${pageNumber}"></a>
	        </li>
	    </ul>
	</div>
    <footer>
        &copy; 2023 My Blog. By HanTakuhyo.
    </footer>
</body>

</html>